<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TipoLadrilloWSPortBinding" />
                <binding name="UsuarioWSPortBinding" />
                <binding name="OrdenSalidaWSPortBinding" />
                <binding name="MaquinariaWSPortBinding" />
                <binding name="InsumoWSPortBinding" />
                <binding name="LineaProduccionWSPortBinding" />
                <binding name="IncidenteMaquinariaWSPortBinding" />
                <binding name="OperarioWSPortBinding" />
                <binding name="OrdenInsumosWSPortBinding" />
                <binding name="MaquinariaWSPortBinding1" />
                <binding name="OrdenSalidaWSPortBinding1" />
                <binding name="JefeAreaWSPortBinding" />
                <binding name="ProveedorWSPortBinding" />
                <binding name="IngenieroWSPortBinding" />
                <binding name="ProblemaWSPortBinding" />
                <binding name="MermaWSPortBinding" />
                <binding name="PersonaWSPortBinding" />
                <binding name="RespuestaWSPortBinding" />
                <binding name="SupervisorWSPortBinding" />
                <binding name="RegistroMermaWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/OrdenSalidaWS"
                binding="basicHttpBinding" bindingConfiguration="OrdenSalidaWSPortBinding"
                contract="OrdenSalidaWS.OrdenSalidaWS" name="OrdenSalidaWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/MaquinariaWS"
                binding="basicHttpBinding" bindingConfiguration="MaquinariaWSPortBinding"
                contract="MaquinariaWS.MaquinariaWS" name="MaquinariaWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/UsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
                contract="UsuarioWS.UsuarioWS" name="UsuarioWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/TipoLadrilloWS"
                binding="basicHttpBinding" bindingConfiguration="TipoLadrilloWSPortBinding"
                contract="TipoLadrilloWS.TipoLadrilloWS" name="TipoLadrilloWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/SupervisorWS"
                binding="basicHttpBinding" bindingConfiguration="SupervisorWSPortBinding"
                contract="SupervisorWS.SupervisorWS" name="SupervisorWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/RespuestaWS"
                binding="basicHttpBinding" bindingConfiguration="RespuestaWSPortBinding"
                contract="RespuestaWS.RespuestaWS" name="RespuestaWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/RegistroMermaWS"
                binding="basicHttpBinding" bindingConfiguration="RegistroMermaWSPortBinding"
                contract="RegistroMermaWS.RegistroMermaWS" name="RegistroMermaWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/ProblemaWS"
                binding="basicHttpBinding" bindingConfiguration="ProblemaWSPortBinding"
                contract="ProblemaWS.ProblemaWS" name="ProblemaWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/ProveedorWS"
                binding="basicHttpBinding" bindingConfiguration="ProveedorWSPortBinding"
                contract="ProveedorWS.ProveedorWS" name="ProveedorWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/PersonaWS"
                binding="basicHttpBinding" bindingConfiguration="PersonaWSPortBinding"
                contract="PersonaWS.PersonaWS" name="PersonaWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/OrdenSalidaWS"
                binding="basicHttpBinding" bindingConfiguration="OrdenSalidaWSPortBinding1"
                contract="OSalidaWS.OrdenSalidaWS" name="OrdenSalidaWSPort1" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/OperarioWS"
                binding="basicHttpBinding" bindingConfiguration="OperarioWSPortBinding"
                contract="OperarioWS.OperarioWS" name="OperarioWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/OrdenInsumosWS"
                binding="basicHttpBinding" bindingConfiguration="OrdenInsumosWSPortBinding"
                contract="OrdenInsumosWS.OrdenInsumosWS" name="OrdenInsumosWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/MermaWS"
                binding="basicHttpBinding" bindingConfiguration="MermaWSPortBinding"
                contract="MermaWS.MermaWS" name="MermaWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/MaquinariaWS"
                binding="basicHttpBinding" bindingConfiguration="MaquinariaWSPortBinding1"
                contract="MaqWS.MaquinariaWS" name="MaquinariaWSPort1" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/LineaProduccionWS"
                binding="basicHttpBinding" bindingConfiguration="LineaProduccionWSPortBinding"
                contract="LineaProduccionWS.LineaProduccionWS" name="LineaProduccionWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/JefeAreaWS"
                binding="basicHttpBinding" bindingConfiguration="JefeAreaWSPortBinding"
                contract="JefeAreaWS.JefeAreaWS" name="JefeAreaWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/InsumoWS"
                binding="basicHttpBinding" bindingConfiguration="InsumoWSPortBinding"
                contract="InsumoWS.InsumoWS" name="InsumoWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/IngenieroWS"
                binding="basicHttpBinding" bindingConfiguration="IngenieroWSPortBinding"
                contract="IngenieroWS.IngenieroWS" name="IngenieroWSPort" />
            <endpoint address="http://52.207.108.70:8080/BuildUpServices/IncidenteMaquinariaWS"
                binding="basicHttpBinding" bindingConfiguration="IncidenteMaquinariaWSPortBinding"
                contract="IncidenteMaquinariaWS.IncidenteMaquinariaWS" name="IncidenteMaquinariaWSPort" />
        </client>
    </system.serviceModel>
</configuration>